.connectionbutton {
   width: 65px;
}


.brandname {
   font-size: 25px;
   font-family: 'Cairo', sans-serif !important;
}

.subtitle {
   font-size: 15px;
   color: #11142D;
}

.bordernavbar {
   border: 1px black solid;
}

.navbarcolor {
   background-color: rgb(255, 255, 255);
   border-bottom: 1px solid #F0F0F0;
}

#nav-dropdown-account {
   color: #6C5DD3 !important;
   background-color: white !important;
}

.iconsize {
   width: 24px;
   height: auto;
}

.backgroundmenu {
   background-color: white !important;
   color: #6C5DD3 !important;
}

.navbarsize {
   padding-left: 80px;
   padding-right: 20px;
}

.navsize {
   height: 50px !important;
}

.buttonsignup {
   background-color: #6C5DD3;
   border-radius: 5px;
   margin-left: 10px;
   box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.buttoncolor {
   background-color: #6C5DD3 !important;
   border-color: #6C5DD3 !important;
   font-size: 15px !important;
   font-family: 'Cairo', sans-serif !important;
}

.buttongetthedeal {
   padding-top: 35px;
}

.usersize {
   color: #ffffff !important;
}

.buttonlogin {
   color: #6C5DD3 !important;
   font-weight: bold !important;
   background-color: #F0EEFF !important;
   border-color: #F0EEFF !important;
   font-family: 'Cairo', sans-serif !important;
   padding-left: 20px !important;
   padding-right: 20px !important;
}

.homecard {
   background-color: #F0EEFF;
   padding: 20px 20px;
   border-radius: 10px;
   width: 950px;
   height: 550px;
   overflow: hidden;
   position: relative;
}

.schooltext {
   color: #6C5DD3;
   font-size: 13px;
}

.schooltitle {
   font-size: 45px;
   font-family: 'Cairo', sans-serif;
}

.studenttext {
   font-size: 30px;
   font-weight: 550;
}

.textblock {
   white-space: pre-line;
}

.rightarrowicon {
   width: 20px;
   padding-left: 10px;
}

.buttoncolorhome {
   background-color: #6C5DD3 !important;
   border-color: #6C5DD3 !important;
   border-radius: 10px !important;
   transition: transform 0.3s ease-in-out !important;
   box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2) !important;
}

.buttonscale {
   transform: scale(0.7);
}

.buttoncolorhome:hover {
   transform: translate(0, -0.5em) !important;
}

.buttoncolorhome2 {
   border-color: #AAAAAA !important;
   background-color: #F0EEFF !important;
   color: black !important;
   border-radius: 10px !important;
   transition: transform 0.3s ease-in-out !important;
}

.buttoncolorhome2:hover {
   transform: translate(0, -0.5em) !important;
}

.circle {
   width: 12px;
   height: 12px;
   background-color: #D7D0FB;
   border-radius: 50%;
   cursor: pointer;
}

.circle.active {
   background-color: #6C5DD3;
   transform: scale(1.2);
}

.pagination {
   margin-top: 30px;
}

.homecard::before,
.homecard::after {
   content: "";
   position: absolute;
   border-radius: 50%;
   animation-duration: 5s;
   animation-iteration-count: infinite;
}

.homecard::before {
   top: -250px;
   left: 550px;
   width: 500px;
   height: 500px;
   background-color: #FF9F59;
   animation-name: topCircle;
}

.homecard::after {
   top: 440px;
   left: 420px;
   width: 300px;
   height: 300px;
   background-color: #D7D2F2;
   animation-name: bottomCircle;
}

@keyframes topCircle {
   0% {
      background-color: #FF9F59;
   }

   50% {
      background-color: #D7D2F2;
   }

   100% {
      background-color: #FF9F59;
   }
}

@keyframes bottomCircle {
   0% {
      background-color: #D7D2F2;
   }

   50% {
      background-color: #FF9F59;
   }

   100% {
      background-color: #D7D2F2;
   }
}

.homecard2 {
   background-color: #9C9C9C;
   width: 440px;
   height: 550px;
   padding: 20px 20px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.cardtitle2 {
   color: white;
   font-weight: 700;
   font-family: 'Cairo', sans-serif;
   font-size: 37px;
   margin-top: 10px;
}

.cardtext2 {
   color: white;
   font-family: 'Cairo', sans-serif;
   margin-top: -10px;
}

.imagecontent {
   border: 2px solid white;
   width: 220px;
   height: 250px;
   border-radius: 15px;
   box-shadow: 5px 10px 10px rgba(255, 255, 255, 1);
   position: relative;
   overflow: hidden;
   height: 100%;
}

.booktitle {
   padding-top: 15px;
   color: white;
   font-weight: 700;
   font-size: 20px;
   font-family: 'Cairo', sans-serif;
}

.booktext {
   font-family: 'Cairo', sans-serif;
   color: rgb(255, 255, 255, 0.6);
   font-size: 14px;
   margin-top: -20px;
}

.bookbutton {
   padding: 10px 0px !important;
   border-radius: 10px !important;
   background-color: #ffffff !important;
   border-color: #ffffff !important;
   color: black !important;
   font-family: 'Cairo', sans-serif !important;
   box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.bookbutton:hover {
   transition: transform 0.3s ease-in-out !important;
}

.bookbutton:hover {
   transform: translate(0, -0.5em) !important;
}

.carousel,
.carousel-inner,
.carousel-item {
   height: 100%;
}

.carouselimage {
   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: center;
   display: block;
   cursor: pointer;
}

.truckicon {
   color: #6C5DD3;
   background-color: #F0EEFF;
   padding: 10px 10px;
   border-radius: 10px;
   width: 48px;
   height: 48px;
}

.truckiconpadding {
   margin-left: 20px;
}

.icontitle {
   font-size: 18px;
   font-family: 'Cairo', sans-serif
}

.iconsubtitle {
   font-size: 12px;
   font-family: 'Cairo', sans-serif
}

.orangerectangle {
   background-color: rgba(255, 117, 76, 0.1);
   width: 700px;
   height: 443px;
   border-radius: 10px;
   padding: 20px 20px;
   overflow: hidden;
   position: relative;
}

.orangerectangle::before,
.orangerectangle::after {
   content: "";
   position: absolute;
   border-radius: 50%;
   animation-duration: 5s;
   animation-iteration-count: infinite;
}

.orangerectangle::before {
   top: -150px;
   left: 470px;
   width: 300px;
   height: 300px;
   background-color: rgba(255, 231, 212, 1);
   animation-name: orangeRectangleTopCircle;
   z-index: 0;
}

.orangerectangle:after {
   top: 350px;
   left: -50px;
   width: 210px;
   height: 210px;
   background-color: rgba(245, 220, 200, 1);
   animation-name: orangeRectangleBottomCircle;
   z-index: 0;
}

.orangerectangletitle {
   z-index: 1;
   position: relative;
   font-family: 'Cairo', sans-serif;
   font-weight: bold;
   font-size: 30px;
   padding-top: 20px;
}

.orangerectangletext {
   z-index: 1;
   position: relative;
   font-family: 'Cairo', sans-serif;
   font-size: 15px;
   padding-top: 20px;
}

.rectangle1 {
   border: white solid 4px;
   width: 200px;
   height: 250px;
   border-radius: 10px;
   z-index: 1;
   box-shadow: 5px 10px 10px rgb(0, 0, 0);
   overflow: hidden;
}

@keyframes orangeRectangleTopCircle {
   0% {
      background-color: rgba(255, 231, 212, 1);
   }

   50% {
      background-color: rgba(215, 235, 255, 1);
   }

   100% {
      background-color: rgba(255, 231, 212, 1);
   }
}

@keyframes orangeRectangleBottomCircle {
   0% {
      background-color: rgba(245, 220, 200, 1);
   }

   50% {
      background-color: rgba(217, 235, 253, 1);
   }

   100% {
      background-color: rgba(245, 220, 200, 1);
   }
}

.arrowicon {
   cursor: pointer;
   z-index: 1;
}

.arrowiconcircle {
   background-color: #ffffff;
   padding: 10px 15px;
   border-radius: 50px;
   z-index: 1;
   cursor: pointer;
   box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
}

.bluerectangle {
   background-color: rgba(61, 162, 255, 0.1);
   width: 700px;
   height: 443px;
   border-radius: 10px;
   padding: 20px 20px;
   overflow: hidden;
   position: relative;
}

.bluerectangle::before,
.bluerectangle::after {
   content: "";
   position: absolute;
   border-radius: 50%;
   animation-duration: 5s;
   animation-iteration-count: infinite;
}

.bluerectangle::before {
   top: -180px;
   left: 300px;
   width: 300px;
   height: 300px;
   background-color: rgba(215, 235, 255, 1);
   animation-name: blueRectangleTopCircle;
   z-index: 0;
}

.bluerectangle:after {
   top: 150px;
   left: -130px;
   width: 600px;
   height: 600px;
   background-color: rgba(217, 235, 253, 1);
   animation-name: blueRectangleBottomCircle;
   z-index: 0;
}

@keyframes blueRectangleTopCircle {
   0% {
      background-color: rgba(217, 235, 253, 1);
   }

   50% {
      background-color: rgba(255, 231, 212, 1);
   }

   100% {
      background-color: rgba(217, 235, 253, 1);
   }
}

@keyframes blueRectangleBottomCircle {
   0% {
      background-color: rgba(217, 235, 253, 1);
   }

   50% {
      background-color: rgba(245, 220, 200, 1);
   }

   100% {
      background-color: rgba(217, 235, 253, 1);
   }
}

.offerstitle {
   font-weight: bold;
   font-family: 'Cairo', sans-serif;
   font-size: 40px;
   padding-top: 30px;
}

.offerstext {
   font-family: 'Cairo', sans-serif;
}

.cardimg {
   width: 100%;
   height: 100%;
   object-fit: cover;
   max-height: 300px;
   cursor: pointer;
}

.card {
   width: 100%;
   max-width: 400px;
   overflow: hidden;
   max-height: 700px;
   height: 100%;
   border: 3px rgba(240, 240, 240, 1) solid !important;
   border-radius: 10px !important;
   box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
}

.purchaseicon {
   padding-right: 10px;
}

.moneysize {
   font-size: 25px;
}

.cardtitlebook {
   font-weight: bold !important;
   font-family: 'Cairo', sans-serif !important;
   font-size: 22px !important;
}

.genre {
   padding-top: 10px;
}

.cardtitletext {
   font-family: 'Cairo', sans-serif !important;
}

.cardtitleauthor {
   font-family: 'Cairo', sans-serif !important;
   font-weight: bold !important;
   font-size: 18px !important;
}

.genre2 {
   background-color: rgba(240, 238, 255, 1);
   color: rgba(108, 93, 211, 1);
   font-weight: bold;
   font-family: 'Cairo', sans-serif;
   padding: 5px 15px;
   border-radius: 20px;
}

.moneysize2 {
   font-size: 15px;
   color: rgba(170, 170, 170, 1);
}

.superarrow {
   color: rgba(108, 93, 211, 1);
   height: 30px !important;
}

.superarrowcircle {
   background-color: rgba(240, 238, 255, 1);
   padding: 15px 15px;
   border-radius: 50px;
   cursor: pointer;
}

.middlecard {
   transform: scale(1.05);
   box-shadow: 0 0 20px rgba(108, 93, 211, 1);
   transition: all 0.3s ease-in-out;
}

/************************************************************************ COUNTDOWN CSS ********************************************************************************************************/
.countdown {
   font-size: 1.5rem;
}

.countdown-container {
   display: flex;
   align-items: center;
   justify-content: center;
   border: 2px solid rgba(240, 238, 255, 1);
   border-radius: 12px;
   font-family: 'Cairo', sans-serif;
   padding: 5px 5px;
   max-width: 500px;
   margin: 0 auto;
}

.countdown-item {
   text-align: center;
}

.time {
   font-size: 48px;
   font-weight: bolder;
   color: rgba(255, 117, 76, 1);
}

.label {
   font-size: 14px;
   margin-top: 5px;
}

/******************************************************************************** FIN COUNTDOWN CSS **********************************************************************************************/

/***********************************************************************FLASH SALES CSS*************************************************/

.flashtitle {
   font-family: 'Cairo', sans-serif;
   font-weight: bold;
   font-size: 40px;
   padding-bottom: 20px;
}

.flashtext {
   font-family: 'Cairo', sans-serif;
   padding-bottom: 20px;
}

.specialcardstitle {
   padding-top: 10px;
   font-family: 'Cairo', sans-serif;
   font-weight: bold;
}

.specialcardsgenre {
   margin-top: -10px;
   color: rgba(108, 93, 211, 1);
   font-family: 'Cairo', sans-serif;
   margin-bottom: 10px;
}

.specialcardsmoney {
   font-family: 'Cairo', sans-serif;
   font-weight: bold;
   color: rgba(108, 93, 211, 1);
   font-size: 20px;
   padding-top: 10px;

}

/*********************************************************************** FIN FLASH SALES CSS*************************************************/

/****************************************************************************Book on Sales***********************************/

.salescard {
   width: 230px;
   height: 330px;
   background-color: rgba(196, 196, 196, 1);
   border-radius: 20px;
   overflow: hidden;
   z-index: 0;
   position: relative;
}

.salesimg {
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: 1;
   position: absolute;
   cursor: pointer;
}

.salesbigtitle {
   font-family: 'Cairo', sans-serif;
   font-weight: bold;
   font-size: 40px;
}

.sales {
   background-color: rgba(255, 117, 76, 1);
   width: 95px;
   height: 54px;
   color: #ffffff;
   text-align: center;
   margin-top: 30px;
   border-radius: 0px 20px 20px 0px;
   display: flex;
   justify-content: center;
   padding: 8px;
   font-family: 'Cairo', sans-serif;
   font-weight: bold;
   font-size: 25px;
   z-index: 2;
   position: relative;
}

.salestitle {
   margin-top: 15px;
}

.starcolor {
   color: rgba(255, 117, 76, 1);
   font-size: 20px;
}

.salesmoneysize {
   font-size: 15px;
}

/**************************************************************Featured Books CSS **********************************/

.bigrectangle {
   width: 100%;
   min-height: 730px;
   background-color: rgba(242, 240, 254, 1);
   position: relative;
   overflow: hidden;
   z-index: 0;
}

.bigrectangle::before,
.bigrectangle::after {
   content: "";
   position: absolute;
   border-radius: 50%;
   animation-duration: 5s;
   animation-iteration-count: infinite;
   z-index: -1;
}

.bigrectangle::before {
   top: -290px;
   left: 1350px;
   width: 650px;
   height: 650px;
   background-color: rgba(229, 227, 243, 1);
   animation-name: topCircleBigRectangle;
}

.bigrectangle::after {
   top: 440px;
   left: -180px;
   width: 600px;
   height: 600px;
   background-color: #D7D2F2;
   animation-name: bottomCircleBigRectangle;
}

@keyframes topCircleBigRectangle {
   0% {
      background-color: rgba(229, 227, 243, 1);
   }

   50% {
      background-color: #D7D2F2;
   }

   100% {
      background-color: rgba(229, 227, 243, 1);
   }
}

@keyframes bottomCircleBigRectangle {
   0% {
      background-color: #D7D2F2;
   }

   50% {
      background-color: rgba(229, 227, 243, 1);
      ;
   }

   100% {
      background-color: #D7D2F2;
   }
}

.divtext {
   width: 400px;
   z-index: 1;
}

.featuredtitle {
   font-weight: bold;
   font-family: 'Cairo', sans-serif;
   font-size: 40px;
}

.featuredtext {
   font-family: 'Cairo', sans-serif;
   padding-top: 10px;
}

.featuredbookcard {
   background-color: #ffffff;
   width: 750px;
   height: 480px;
   margin-top: 30px;
   padding-right: 30px;
   border-radius: 20px;
   display: flex;
   gap: 40px;
   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.9);
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;

}

.featuredbook {
   background-color: rgba(196, 196, 196, 1);
   height: 410px;
   width: 290px;
   border-radius: 20px;
   margin-left: 40px;
   margin-top: 35px;
   position: relative;
   object-fit: cover;
   cursor: pointer;
   overflow: hidden;
   z-index: 1;
}

.featuredbook img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
   z-index: 1;
}


.featuredbookdescription {
   flex: 1;
   margin-top: 35px;
   font-family: 'Cairo', sans-serif;
}

.bookmarkicon {
   color: rgba(108, 93, 211, 1);
   height: 60px;
}

.starbookmarkicon {
   width: 30px;
   height: 30px;
   color: #ffffff;
}

.starcircle {
   background-color: rgba(255, 117, 76, 1);
   border-radius: 50px;
   width: 50px;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   transform: scale(0.7);
   position: absolute;
   top: -20px;
   left: 20px;
}

.featuredbookiconandtitle {
   position: relative;
   display: flex;
   gap: 35px;
}

.featuredbooktitle {
   font-weight: bold;
   font-size: 30px;
}

.featuredbooktexts p {
   margin: 0;
   line-height: 1.5;
}

.featuredbookgenre {
   color: rgba(108, 93, 211, 1);
}

.synopsis {
   font-weight: 700;
   font-size: 20px;
   padding-top: 20px;
}

.featuredbookauthorblock {
   display: flex;
   gap: 90px;
   margin-top: 20px;
}

.featuredbookauthoranddate {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.featuredbookwrittenby,
.featuredbookauthor {
   margin: 0;
   line-height: 1.8;
}

.featuredbookwrittenby {
   font-weight: 500;
   color: rgba(170, 170, 170, 1);
   font-size: 14px;
}

.featuredbookauthor {
   font-weight: 800;
   font-size: 18px;
}

.featuredbookimage {
   background-color: rgba(196, 196, 196, 1);
   height: 300px;
   width: 200px;
   border-radius: 20px;
   object-fit: cover;
   cursor: pointer;
   overflow: hidden;
}

.featuredbookimage img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
   cursor: pointer;
}

@media (max-width: 768px) {
   .bigrectangle {
      height: auto;
   }

   .featuredbookcard {
      flex-direction: column;
      width: 100%;
      height: auto;
      padding: 20px;
      gap: 20px;
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
   }
}

/** enlever margin left sur téléphone**/

/********************************************************************************************************* TESTIMONY CSS **************************************************************/
.avis-slide {
   border-radius: 8px;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
   max-width: 700px;
   margin-bottom: 30px;
}

@media (max-width: 576px) {
  .avis-slide {
    max-width: 350px
  }
}

.avis-slide h3 {
   margin-bottom: 20px;
   margin-top: 20px;
}

.avis-slide p {
   font-family: 'Cairo', sans-serif;
   font-weight: 500;
}

.date {
   margin-bottom: 20px;
}

.avis-texte {
   width: 400px;
   margin: 0 auto;
   margin-bottom: 30px;
}

.testimony-title {
   font-weight: bold;
   font-family: 'Cairo', sans-serif;
   font-size: 40px;
}
/**********************************************************FIN TESTIMONY CSS ****************************************************************************************************/

/**********************************************************Footer CSS ****************************************************************************************************/

footer {
  background-color: #f8f9fa;
  color: #333;
}

footer ul {
  padding-left: 0;
  list-style: none;
}

footer ul li {
  margin-bottom: 0.5rem;
  cursor: pointer;
}

footer ul li:hover {
  text-decoration: underline;
}

footer h5 {
  margin-bottom: 1rem;
  font-weight: bold;
}

footer p {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.newsletter-section {
  background-color: #6741d9;
  width: 100%;
}

.text-purple {
  color: #6741d9;
}

.newsletter-heading {
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.3;
  max-width: 693px;
  height: auto;
  margin-bottom: 20px;
}
/***************************************************************FIN FOOTER CSS*********************************************************************************************************************************/

/**********************************Latest News CSS */

.latestnews-text {
   margin-top: 20px;
   max-width: 500px;
   font-family: 'Cairo', sans-serif;
}

.latestnews-title {
   font-family: 'Cairo', sans-serif;
   font-size: 18px;
   margin-top: 20px;
   font-weight: 800;
}

.latestnews-description {
   color: rgba(0, 0, 0, 0.5);
   overflow: hidden;
   text-overflow: ellipsis;
   width: 372px;
   height: 45px;

   display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
   line-clamp: 2; /** propriété standard de webkit line clamp pour la compatibilité de certains navs */
}

.latestnews-card {
   width: 372px;
}

.latestnews-imgcard {
  width: 372px;
  height: 210px;
  background-color: rgba(196, 196, 196, 1);
  border-radius: 20px;
  overflow: hidden;
  position: relative; 
}

.latestnews-img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  position: absolute;
}

.latestnews-continue {
   margin-top: -10px;
   color: rgba(108, 93, 211, 1);
   font-family: 'Cairo', sans-serif;
   margin-bottom: 10px;
   cursor: pointer;
}

.latestnews-author {
   font-weight: 800;
   font-family: 'Cairo', sans-serif;
}

.latestnews-end p {
   margin-bottom: 0px;
}

.latestnews-end {
   margin-top: 20px;
}
