.connectionbutton {
   width: 65px;
  }

.brandname {
   font-size: 25px;
   font-family: 'Cairo', sans-serif !important;
}

.subtitle {
   font-size: 15px;
   color: #11142D;
}

.bordernavbar {
   border: 1px black solid;
}

.navbarcolor {
   background-color: rgb(255, 255, 255);
   border-bottom: 1px solid #F0F0F0;
}

#nav-dropdown-account {
   color:#6C5DD3 !important;
   background-color: white !important;
}

.iconsize {
   width: 24px;
   height: auto;
}

.backgroundmenu {
   background-color: white !important;
   color:#6C5DD3 !important;
}

.navbarsize {
   padding-left: 80px;
   padding-right: 20px;
}

.navsize {
   height: 50px !important;
}

.buttonsignup {
   background-color: #6C5DD3;
   border-radius: 5px;
   margin-left: 10px;
   box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.buttoncolor {
   background-color: #6C5DD3 !important;
   border-color: #6C5DD3 !important;
   font-size: 15px !important;
   font-family: 'Cairo', sans-serif !important;
}

.usersize {
   color: #ffffff !important;
}

.buttonlogin {
   color: #6C5DD3 !important;
   font-weight: bold !important;
   background-color: #F0EEFF !important;
   border-color: #F0EEFF !important;
   font-family: 'Cairo', sans-serif !important;
   padding-left: 20px !important;
   padding-right: 20px !important;
}

.homecard {
   background-color: #F0EEFF;
   padding: 20px 20px;
   border-radius: 10px;
   width: 900px;
   height: 450px;
   
}

.schooltext {
   color:#6C5DD3;
   font-size: 13px;
}

.studenttext {
   font-size: 25px;
   font-weight: 550;
}



 
